<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calculate Triangle Area</h1>
    <form action="/triangle" method="post" id="triangle">
<Label for="height">Height</Label>
<div>
    <input type="number" name="height" id="height">
</div>
<Label for="width">Width</Label>
<div>
    <input type="number" name="width" id="width">
</div>
<button type="submit">Submit</button>
    </form>
    
</body>
</html>